.button {
  background-color: orange;
  border: none;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

.textField {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.addContainer {
  background-color: rgb(236, 236, 236);
  padding: 10px 10px;
}
