.lightContainer {
  background-color: white;
  width: 350px;
  border-radius: 20px;
  margin: 0 auto;
}

.darkContainer {
  background-color: rgb(51, 51, 76);
  width: 350px;
  border-radius: 20px;
  margin: 0 auto;
}
