/* header 스타일링 */
.dark {
  display: flex;
  justify-content: space-between;
  background-color: rgb(30, 30, 45);
  padding: 15px 10px;
  border-radius: 20px 20px 0px 0px;
}

.light {
  display: flex;
  justify-content: space-between;
  background-color: rgb(236, 236, 236);
  padding: 15px 10px;
  border-radius: 20px 20px 0px 0px;
}

/* 다크모드/나이트모드 스타일링 */
.mode {
  cursor: pointer;
}

/* 필터 스타일링 */
.filter {
  display: flex;
}

.lightTitle {
  color: orange;
  margin: 0 5px;
  cursor: pointer;
}

.darkTitle {
  color: rgb(132, 148, 215);
  margin: 0 5px;
  cursor: pointer;
}

.selected {
  border-bottom: 2px solid rgb(173, 172, 172);
  margin-top: 3px;
}
