.button {
  background-color: lightgray;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: none;
  flex: 1;
}

.button:hover {
  cursor: pointer;
}

.title {
  color: dimgrey;
  flex: 20;
  padding: 0px 4px;
}

.checked {
  color: rgb(167, 163, 163);
  flex: 20;
  padding: 0px 4px;
  text-decoration: line-through;
}

.item {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

#checkbox {
  flex: 1;
}
